# mysqlサーバーに対する設定の区切り
[mysqld]
# データベースが使う文字コードの初期値(文字化け防止)
character-set-server = utf8mb4

# 文字列の並び替え・比較のルール
collation-server = utf8mb4_unicode_ci

# 現在時刻の基準
default-time-zone = 'Asia/Tokyo'

[mysql]
#   MySQLコマンド接続するときに使う文字コード
default-character-set=utf8mb4

# MySQLに接続する全般向けの設定区切り
[client]
# 接続・通信時に使う文字コード
default-character-set=utf8mb4
